.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 103px;
    font-size: 18px;
    font-weight: 400;
}

.header__logo {
    width: 137px;
    height: 95px;
}

/* .header__logo-image {} не использовал */

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 0 0 1px;
    gap: 5px;
    text-underline-offset: 4px;
}

.header__links-list {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 32px;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullet {
    list-style-type: none;
}

.header__address {
    display: flex;
    padding-left: 192px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 240px;
    padding-top: 4px;
    gap: 5px;
    list-style-type: none;
    text-underline-offset: 4px;
}

.cover {
    background: url('../images/cover.jpg') no-repeat center / cover;
    min-height: 757px;
    position: relative;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 60%;
    background-color: #000000;
    z-index: 0;
}

.cover__title {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
} /* заголовок */

.aligned-text {
    display: block;
    padding: 165px 50px 50px 50px;
    width: 100%
} /* для превращения строк заголовка в блочный элемент */

.letter-spacing-extended {
    letter-spacing: 33px;
}

.aligned-text_left {
    display: block;
    width: 100%;
    padding-top: 23px;
    text-align: left;
    line-height: 71px;
    font-size: 97px;
} /* ОНО */

.aligned-text_center {
    display: block;
    width: 100%;
    padding-top: 64px;
    text-align: center;
    line-height: 71px;
    font-size: 97px;
    transform: translateX(17px);
} /* ТЕБЕ */

.aligned-text_right {
    display: block;
    width: 100%;
    padding: 64px 0 14px 0;
    text-align: end;
    line-height: 71px;
    font-size: 97px;
    transform: translateX(34px);
} /* НАДО */

.description {
    display: flex;
    align-items: center;
    gap: 104px;
    padding: 64px 50px 0 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 22px;
    position: relative;
    z-index: 1;
}

.cover__description-text {
    display: block;
    word-spacing: 19px;
}

.bet-button {
    display: block;
    width: 256px;
    min-height: 52px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    transform: translateY(-3px);
    cursor: pointer;
}

.lots {
    display: block;
} /*  вся секция */

.lots__heading {
    display: inline-block;
    font-size: 42px;
    text-transform: uppercase;
    padding-inline: 63px;
    letter-spacing: -2px;
} /* заголовок секции */

.lots__card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
    margin: 25px 0;
} /* список карточек */

.lots__card-list-item {
    display: flex;
    width: 334px;
    min-height: 596px;
} /* пункт списка карточек */

.card-link {
    min-height: 596px;
    text-decoration: none;
} /* ссылка, обрамляющая карточку */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    color: #FFFFFF;
    min-height: 596px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} /* карточка */

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
} /* Фильм */

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
} /* Книга */

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
} /* Картина */

.card__title {
    display: flex;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
    z-index: 1;
} /* заголовок карточки */

.card__text {
    display: flex;
    font-size: 20px;
    z-index: 1;
} /* текст карточки */

.lots__look-more-link {
    display: inline-block;
    font-size: 20px;
    padding: 5px 0 0 64px;
    letter-spacing: 0;
    text-underline-offset: 5px;
} /* ссылка «Посмотреть больше» */


.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 24px;
    padding: 0 24px;
    margin-top: 120px;
} /* вся секция */

.about__column {
    display: flex;
    flex-direction: column;
} /* класс для колонок */

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    margin: 35px 0 0 47px;
} /* контейнер с логотипом */

.about__logo-image {
    width: 146px;
    height: 242px;
} /* изображение логотипа */

.about__title {
    display: flex;
    margin: 134px 0 102px 0;
    text-transform: uppercase;
    font-size: 27px;
} /* заголовок секции */

.about__text {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    font-size: 20px;
} /* блок для текстов (параграфов) секции */


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
    margin-top: 180px;
    margin-bottom: 82px;
    font-size: 18px;
    font-weight: 400;
} /* подвал */

.footer__address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} /* адрес подвала */

.footer__menu {
    display: flex;
    justify-content: center;
    text-underline-offset: 5px;
} /* блок навигации по списку ссылок */

.footer__menu-list {
    text-align: center;
    list-style-type: none;
} /* список пунктов меню */

/* .footer__menu-list-item {} не использовал / пункт списка меню */

/* .footer__social {} не использовал / блок навигации социальных сетей */

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-type: none;
} /* список ссылок на социальные сети */

.footer__social-list-item {
    width: 48px;
    height: 48px;
} /* пункт списка ссылок на социальные сети */




