.header {
    padding: 92px 50px 103px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    text-underline-offset: 4px;
}
.header__logo {
    display: block;
    width: 137px;
    height: 95px;
}

.header__logo-image {

}

.header__menu{
    display: flex;
    justify-content: start;

}

.header__links-list{
    display: flex;
    padding: 5px 0 0 1px;
    gap: 32px;

}

.header__links-list-item{
    list-style: circle;
}

.header__links-list-item_no-bullet{
    list-style-type: none;
}

.header__address {
    display: flex;
    padding: 0 0 0 192px;
}

.address {
    font-style: normal;
    padding: 4px 0 0 0;
    gap: 5px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.cover {
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 757px;
    position: relative;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 60%;
    background-color: #000000;
    z-index: 0;
}
.cover__title {
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
} /* заголовок */

.aligned-text {
    display: block;
    padding: 165px 50px 50px 50px;
} /*  для превращения строк заголовка в блочный элемент */

.letter-spacing-extended {
    letter-spacing: 33px;
}

.aligned-text_left {
    display: block;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    line-height: 71px;
    padding: 23px 0 0 0;
    font-size: 97px;
} /* ОНО */

.aligned-text_center {
    display: block;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    line-height: 71px;
    padding: 64px 0 0 0;
    transform: translateX(17px);
    font-size: 97px;
} /* ТЕБЕ */

.aligned-text_right {
    display: block;
    text-align: end;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    line-height: 71px;
    padding: 64px 0 14px 0;
    transform: translateX(34px);
    font-size: 97px;
} /* НАДО */

.description {
    display: flex;
    align-items: center;
    gap: 104px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 22px;
    padding: 64px 50px 0 50px;
    position: relative;
    z-index: 1;
}

.cover__description-text {
    display: block;
    word-spacing: 19px;
}

.bet-button {
    display:block;
    background-color: transparent;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(-3px);
    width: 256px;
    height: 52px;
    border: 1px solid #FFFFFF;

}

.lots {
    display: block;
} /*  вся секция */

.lots__heading {
    display: inline-block;
    font-size: 42px;
    padding-inline: 63px;
    letter-spacing: -2px;
} /* заголовок секции */

.lots__card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
    margin: 25px 0 25px 0;
} /* список карточек */

.lots__card-list-item {
    display: flex;
    width: 334px;
    min-height: 596px;

} /* пункт списка карточек */

.card-link {
    min-height: 596px;
    text-decoration: none;
} /* ссылка, обрамляющая карточку */

.card {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    justify-content: space-between;
} /* карточка */

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 596px;
    position: relative;
} /* Фильм */

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 596px;
    position: relative;
} /* Книга */

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 596px;
    position: relative;
} /* Картина */

.card__title {
    display: flex;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: underline;
    text-underline-offset: 4px;
    z-index: 1;
} /* заголовок карточки */

.card__text {
    display: flex;
    font-size: 20px;
    z-index: 1;
} /* текст карточки */

.lots__look-more-link {
    display: inline-block;
    font-size: 20px;
    padding: 5px 0 0 64px;
    letter-spacing: 0;
    text-underline-offset: 5px;
} /* ссылка «Посмотреть больше» */





















.about {

}

.footer {


}
